body {
    background-color: #ddd;
}

h1 {
    text-align: center;
    margin: 50px 0;
}

.side {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100vh;
    background-color: #fff;
    padding: 32px;
}

.active {
    right: 0;
    transition: right 0.5s;
}

.btn {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    transform: translateY(-50%);
    left: -40px;
    cursor: pointer;
}

.banner {
    height: 100px;
    background-color: #eee;
    margin: 10px 0;
}

ul {
    margin: 20px 0;
}

ul li {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    margin: 10px 0;
}