.container {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
}

.box {
    width: 100px;
    height: 100px;
    margin: 10px 0;
    position: relative;
}

.box1 {
    background-color: orangered;
}
.box2 {
    background-color:blue;
}
.box3 {
    background-color: green;
}
.box4 {
    background-color: grey;
}

.btns {
    margin-top: 20px;
}

button {
    padding: 4px 10px;
    cursor: pointer;
}